@model IEnumerable<LaptopSystem.Web.Models.LaptopViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">

        @foreach (var laptop in Model)
        {
            <div class="col-sm-6 col-md-4">
                <h3>@laptop.Manufacturer @laptop.Model</h3>
                <img src="@Url.Content(laptop.ImageUrl)" alt="Laptop Image" />
                <p>
                    <a class="btn btn-default btn-md active" role="button" 
                      href="@Url.Action("Details", "Laptops", new { id = laptop.Id })">Price $@laptop.Price
                    </a>
                </p>
            </div>
        }

    </div>
</div>

